<style>

</style>


<div class="content" role="main"> 
  <h1>Calcular cuotas - sistema fracés</h1>
  
  <input type="number" ngModel="capital">
  <input type="number" ngModel="plazo">
  <button mat-raised-button (click)="calcular()">Generar</button>
  {{cuotas | json}}
  <table [hidden]="capital == 0 || plazo == 0" style="width: 100%">
    <tr>
      <th>Cuota</th>
      <th>Amortización</th>
      <th>Interés</th>
      <th>Saldo</th>
      <th>Cuota</th>
    </tr>
    <tr *ngFor="let cuota of cuotas">
      <th>{{ cuota.numeroCuota }}</th>
      <th>{{ cuota.amortizacion }}</th>
      <th>{{ cuota.interes }}</th>
      <th>{{ cuota.saldo }}</th>
      <th>{{ cuota.cuota }}</th>
    </tr>
    <hr />
    <tr>
      <th></th>
      <th>{{ totalAmortizacion }}</th>
      <th>{{ totalInteres }}</th>
    </tr>
  </table>

</div>

<router-outlet></router-outlet>
