<style></style>

<div class="content" role="main">
  <h1 class="centrado-texto">Calcular cuotas - sistema fracés</h1>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Monto</mat-label>
      <input name="capital" matInput [(ngModel)]="capital" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Cuota</mat-label>
      <input name="plazo" matInput maxlength="5" [(ngModel)]="plazo" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Tasa</mat-label>
      <input name="tasa" matInput maxlength="5" [(ngModel)]="tazaInteres" />
    </mat-form-field>

    <div class="container-button">
      <button mat-raised-button (click)="calcular()">Generar</button>
    </div>
  </form>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 tabla-cuotas"
  >
    <ng-container matColumnDef="numero-cuota">
      <th mat-header-cell *matHeaderCellDef>Nro. Cuota</th>
      <td mat-cell *matCellDef="let element">{{ element.numeroCuota }}</td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <ng-container matColumnDef="amortizacion">
      <th mat-header-cell *matHeaderCellDef>Amortizacion</th>
      <td mat-cell *matCellDef="let element">
        {{ element.amortizacion | separadorMiles }}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{ totalAmortizacion | separadorMiles }}</td>
    </ng-container>

    <ng-container matColumnDef="interes">
      <th mat-header-cell *matHeaderCellDef>Interés</th>
      <td mat-cell *matCellDef="let element">
        {{ element.interes | separadorMiles }}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{ totalInteres | separadorMiles  }}</td>
    </ng-container>

    <ng-container matColumnDef="saldo">
      <th mat-header-cell *matHeaderCellDef>Saldo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.saldo | separadorMiles }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="cuota">
      <th mat-header-cell *matHeaderCellDef>Cuota</th>
      <td mat-cell *matCellDef="let element">
        {{ element.cuota | separadorMiles }}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{ totalCuotas | separadorMiles  }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasTabla"></tr>
    <tr mat-footer-row *matFooterRowDef="columnasTabla"></tr>
  </table>
</div>

<router-outlet></router-outlet>
